@{
    ViewData["Title"] = "About Us";
}
<html>

<head>
    <script type="text/javascript" src="~/Scripts/js/Draw.js"></script>

</head>





<body>
    <br />
    <br />

    <h2>@ViewData["Title"]</h2>


    <h3>This game was developed by Andrew Polanyi, Aqeel Mozumder, and Adam Kwan.</h3>

  
</body>

</html>