@{
    ViewData["Title"] = "Game Rules";
}
<br />
<br />

<h2>@ViewData["Title"]</h2>


<h3>
    Rules:
</h3>

<p style="text-align:left">
    The Game consists of 3 rounds, each with an increasing amount of points that you can earn<br />

    The objective is to be the player with the most points at the end of the 3 rounds. Each player plays the game through their browser where they can join a game using a 6 character game code that the host can give out <br />

    <br />
   <strong> Round 1: </strong> <br />
    Same question prompt are given to each player. Hint: Make your answer funny! <br>
    Each player will vote for one of the other players answers to the question. <br>
    When your own answer gets a vote you get rewarded 100 points per vote.<br>
    <br />

    <br />
    <strong> Round 2: </strong> <br />
    Different randomly generated draw title are given to each player draw canvas.<br>
    Each player have 60 seconds to draw and submit their drawing.<br>
    Players are not allowed to write letters or words. <br>
    Next, each player will create a fake draw title for each of the other players drawings.<br>
    This is one drawing at a time. <br>
    Next, Each player have to select the real other player's drawing title from a list which includes fake answers.<br>
    If they guess the correct title both the guesser and the drawer will be given 200 points. <br>
    If they guess a fake title, only the fake title creator will be given 200 points. <br>
    Each player also gets to give points for their favourite fake answer for their own drawing. <br>
    <br />

    <br />
    <strong>Round 3:  </strong><br />
        Each player is given a different randomly generated draw title but <br>
        Only one mousedown to draw what the title is about. Hint: Don't Release the Mouse until you are done! <br>
        Next, Each player gets to choose on whose drawing they want to guess. <br>
        If you guess the drawing title right then both the guesser and creator will receive 300 points. <br>


</p>
