################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TRIQA/.vs/TripleQA/v16/Server/sqlite3/db.lock
